body {
    font-family: 'Arial', sans-serif;
    color: rgb(6, 6, 6);
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(3, 8, 105), rgb(12, 129, 219));
  }
  
  header {
    background: rgb(30, 0, 255);
    color: rgb(245, 245, 245);
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid black;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
  }
  
  header img {
    width: 150px;
    height: auto;
    margin-top: 10px;
    border-radius: 20%;
    border: 3px solid whitesmoke;
  }
  
  main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  article {
    margin-bottom: 20px;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
  }
  
  article h2,
  article h3 {
    color: lightsalmon;
    font-size: 1.8em;
    margin-top: 10px;
  }
  
  article .date {
    font-size: 0.9em;
    color: brown;
    font-style: italic;
  }
  
  ul {
    list-style: disc inside;
    margin: 15px 0 20px 20px;
    font-size: 1em;
  }
  
  ul li {
    margin: 5px 0;
    padding: 5px;
    border-left: 4px solid greenyellow;
    padding-left: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
  }
  
  ul li a:hover {
    text-decoration: underline;
    color: purple;
  }
  
  footer {
    background: blue;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 5px solid black;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
  }